
<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
    <img src="https://img.icons8.com/color/48/000000/duck.png"/>
  </a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<h2>Inicio</h2>

<div *ngIf="loading">
  <h4>Loading ...</h4>
</div>

<div *ngIf="error">
  <h4>Error! :( ...</h4>
</div>




<div  class="container">
  <div class="row">
      <section *ngIf="allCuaks"  id="content" class="col-sm-12 col-lg-8" style="background: plum;" >
          
      <h2>Lista de Cuaks</h2>

        <!-- Lista de Cuaks -->
      <article *ngFor="let cuak of allCuaks"  class="cuak-list" style="background: burlywood;">
          <div class="img-wrap-list" style="background: greenyellow;">
          
              <img *ngIf="cuak.image" :src="{{cuak.image}}" :alt="cuak.title" (mouseenter)="zoomImg($event.currentTarget,'enter')"  (mouseleave)="zoomImg($event.currentTarget,'leave')">
              <img *ngIf="!cuak.image" src="https://drscdn.500px.org/photo/75964679/q%3D80_m%3D2000/v2?sig=8afbd38315427c08c0b783ca1d6d5bdb4c46d70034f158e66b4b2630b3a1e110" :alt="Default">
              <div class="title">
                  <span>@{{cuak.author.username}}</span>
                  <h5>{{cuak.title}}</h5>
              </div>
              <div class="info" style="background-color: indigo; text-align: center;">
                  <div class="favs">0 €</div>
                  <div class="reply">RES()</div>
                  <div class="fav">  FAV()</div>
              </div>
          </div>
          
          <div class="cuak-content">
             {{cuak.text}}
          </div>

          <hr/>
      </article>

  </section>

  <aside  class="sidebar col-sm-12 col-lg-4" style="background: orange;" >
      <div class="sidebar-content">
          <div style="width: 100px; height: 100px;background: grey;">Barra1</div>
          <div style="width: 100px; height: 100px;background: grey;">Barra1</div>
      </div>
  </aside>
  </div>
 
</div>

<footer>
  <h6>2020 - OmarPV</h6>
</footer>
