<!-- Header -->
<appHeader
    [identity]="identity"
></appHeader>


<h2 style="text-align: center;">Búsqueda</h2>
<h3 style="text-align: center;color: grey">{{search}}</h3>



<div  class="container">
  <div class="row">
      <section  id="content" class="col-sm-12 col-lg-8">

      <small style="text-align: center;color: grey" *ngIf="Cuaks">Núm : {{Cuaks.length}}</small>
      <h3 style="text-align: center;" >Resultados</h3>

      <div style="text-align: center;" *ngIf="loading">
        <h4>Loading ...</h4>
        <img src="assets/images/loading.gif" alt="Loading">
      </div>
      
      <div *ngIf="error">
        <h4>Error! :( ...</h4>
        <p>{{error}}</p>
      </div>

      <cuak-list *ngIf="Cuaks" 
        [Cuaks]="Cuaks"
        [identity]="identity"
      >

      </cuak-list>

  </section>

  <!-- Sidebar -->
  <app-sidebar class="col-sm-12 col-lg-4">
  </app-sidebar>

 </div>
</div>
