<!-- Header -->
<appHeader
    [identity]="identity"
></appHeader>

<div  class="container">
  <div class="row">
      <section  id="content" class="col-sm-12 col-lg-8">

      <small style="text-align: center;color: grey" *ngIf="Cuaks">Núm : {{Cuaks.length}}</small>
      <h2 class="titulo">Búsqueda</h2>
      <h3 style="text-align: center;color: grey; padding: 10px;position: relative;top: -25px;">{{search}}</h3>

      <div style="text-align: center;" *ngIf="loading">
        <h4>Loading ...</h4>
        <img src="assets/images/loading.gif" alt="Loading">
      </div>
      
      <div *ngIf="error">
        <h4>! Algo ocurrió ! :(</h4>
        <p *ngFor="let e of error">{{e.message}}</p>
      </div>

      <cuak-list *ngIf="Cuaks" 
        [Cuaks]="Cuaks"
        [identity]="identity"
      >

      </cuak-list>

  </section>

  <!-- Sidebar -->
  <app-sidebar class="col-sm-12 col-lg-4"
    [identity]="identity"
  >
  </app-sidebar>

 </div>
</div>
