
*{
    margin: 0;
}

body , html{
    height: 100%;
   /* height: calc(100vh - 10vh); */
}

.navbar{
    background: #462255 !important;
    color: white !important;
    text-shadow: black 1px !important;
}

/* sobreescribir color nav-link */
.nav-link{
    color: white !important;
    text-shadow: 1px 1px 2px black;
}

.container{
    margin: 10px auto;
    min-height: calc(100vh - 20.8vh);
}

.sidebar{
    border-radius: 3px;
    padding: 10px;
}

.sidebar-content{
    width: 80%;
    margin: 30px auto;
    padding: 15px;
    background: #e3f2fd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cuak-content{
    padding: 5px;
    color : black;
    font-weight: 700;
}

#content{
    border-radius: 3px;
    background: #462255;
    color : white;
}

.cuak-one, .cuak-list{
    border-radius: 3px;
    padding: 10px;
    background: #e3f2fd;
    margin-bottom: 10px;
}

/* title */
.title{
    height: 100px;
    padding: 15px;
    font-size: 4vw;
    background: black;
    color : white;
    position: absolute;
    bottom : 0;

    animation: linear 1s animGiro;
}

@keyframes animGiro{
    0% {
            transform: rotateY(0deg) scale(0.6);
            scale: 0.6;
    }
    100% {
        transform: rotateY(360deg) scale(1);
    }
}


.info{
    width: 100%;
    height: 20%;
    min-height: 55px;
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



.favs{
    width: 50%;
    background-color: rgba(129, 236, 229, 0.571);

}
.fav{
    width: 25%;
    background: #aa446490;
}
.reply{
    width: 25%;
    background-color: rgba(238, 230, 156, 0.558);
}
#replies{
    padding: 10px;
    padding-left: 20px;
}
.favs, .fav, .reply{
    height: 100%;
}


/* Imagenes */
.img-wrap{
    width: 100%;
    max-height: 260px;
    height: fit-content;
    overflow: hidden;
}

.img-wrap-list{
    width: 100%;
    max-height: 400px;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;

    position: relative;
}

.img-wrap img, .img-wrap-list img{
    width: 100%;
    z-index: 0;
}

footer{
    position: sticky;
    bottom: 0;
    text-align: center;
   
    height: 7vh;
    padding: 2.6vh;
    width: 100%;
    background: #462255;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 1.5vw;
}

/* Forms */
#formLogin, #formRegister {
    border-radius: 10px;
    color : white;
    padding: 10px;
    background: #aa4465;
    
    margin: 20px auto;
}

.flex-center{
    display: flex;
   /* flex-flow: column wrap;*/
    align-items: center;
    justify-content: center;
}

#pagination{
    padding : 10px;
    width: 40%;
    margin: 10px auto;
    background: #aa4465;
    border-radius: 3px;
}

.navegacion{
    cursor: pointer;
}
.navegacion svg{
    width: 50px;
}

#buscador{
    width: 100%;
    padding: 5px;
}

.gif-fullscreen{
    background: blanchedalmond;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.info-detalle{
    position: relative;
    width: 100%;
    height:70px;
    right: 0;
}
.info-detalle > div{
    height: 100% !important;
}

.titulo{
    color : white;
    text-align: center;
    padding: 20px;
    text-shadow: #aa7224 1px 0px 10px;

    animation: ease-in 1s entradaTitulos;
    transition: transform 0.5s;
}

@keyframes entradaTitulos{
    0% {
        opacity: 0;
        transform: translateX(-400px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

/* pagina de chat */
#chat-display{
    background: #6A87BB;
     min-height: fit-content;
}
#messages{
    max-height: 310px;
    overflow-y: auto;
}

#chat-list{
    padding : 5px;
    background: #812671;
     height: fit-content;
     text-align: center;
}

/* Scrollbar custom CSS */
        #messages::-webkit-scrollbar { 
        /* display: none; */
        width: 8px;     /* Tamaño del scroll en vertical */
        height: 8px;    /* Tamaño del scroll en horizontal */
        } 
        /* Ponemos un color de fondo y redondeamos las esquinas del thumb */
        #messages::-webkit-scrollbar-thumb {
            background: rgb(152, 152, 152);
            border-radius: 4px;
        }
        /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
        #messages::-webkit-scrollbar-thumb:hover {
            background: #626161;
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
        }
        /* Cambiamos el fondo cuando esté en active */
        #messages::-webkit-scrollbar-thumb:active {
            background-color: #999999;
        }
        /* Ponemos un color de fondo y redondeamos las esquinas del track */
        #messages::-webkit-scrollbar-track {
            background: #e1e1e1;
            border-radius: 4px;
        }
        /* Cambiamos el fondo cuando esté en active o hover */
        #messages::-webkit-scrollbar-track:hover,
        #messages::-webkit-scrollbar-track:active {
        background: #d4d4d4;
        }

/* Notifications */

#chat-icon{
    z-index : 1;
    position: fixed;
    right: 20px;
    bottom: 20px;

    width: fit-content;
}

#chat-icon img{
    width: 50px;
}

#chat-notifications{
    z-index : 2;
    background: #6A87BB;
    border : 1px solid white;
    color: white;
    position: fixed;
    right: 80px;
    bottom: 19px;
}

#chat-red-point{
    width: 20px;
    height: 20px;
    
    border-radius: 50%;
    background: red;

    z-index : 3;
    position : fixed;
    right: 23px;
    bottom: 50px;
}

/* -- Medias Queries -- */

@media(min-width : 576px){
    /*.cuak-content{
        margin-top: 30%;
    }*/

    #chat-icon img{
        width: inherit;
    }

    #chat-red-point{
        width: 30px;
        height: 30px;

        right: 35px;
        bottom: 75px;
    }

    #chat-notifications{
        right: 115px;
        bottom: 32px;
    }
}


@media (min-width: 992px){
    .cuak-content{
        margin-top: 0;
    }

    .img-wrap {/*mxheighttocado*/
        min-height: fit-content;
        max-height: 450px;
        width: 100%;
    }
    .img-wrap img{
        width: 100%;
    }
    .img-wrap-list{
        max-height: 200px;
    }
    .img-wrap-list img {
        width: 40%;
    }

   /* .img-wrap-list img:hover{
        position: relative;
        bottom: 0;
        z-index: 999;
        transform: scale(2);
    }*/

    .title{
        padding-right: 35%;
        font-size: 1vw;
        width: 60%;
        height: 100%;
        left: 40%;
        margin: 0;
        
    }

    .info{
        max-width: 200px;
        height:100%;
        right: 0;
    }
    .favs{
        width: 100%;
        height: 40%;
    }
    .fav, .reply{
        width: 50%;
        height: 60%;
    }

    .sidebar-content{
        margin: 0px auto;
    }
}

